<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Main Page</title>
</head>
<body>
  <h1>GXXXXXXXX</h1>
  <ul>
    <li><a href="<%= studentLink %>">Students</a></li>
    <li><a href="<%= gradeLink %>">Grades</a></li>
    <li><a href="<%= lecturerLink %>">Lecturers</a></li>
  </ul>
</body>
</html>