<!DOCTYPE html>
<html>
  <head>
    <title>Student Table</title>
  </head>
  <body>
    <h1>Student Table</h1>
    <button onclick="window.location.href='/'">Home</button>
    <button onclick="window.location.href='/students/add'">Add Student</button>
    <table border="1">
      <thead>
        <tr>
          <th>Student ID</th>
          <th>Name</th>
          <th>Age</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% students.forEach(student => { %>
        <tr>
          <td><%= student.sid %></td>
          <td><%= student.name %></td>
          <td><%= student.age %></td>
          <td>
            <a href="/students/edit/<%= student.sid %>">Update</a>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>